body {
    background-image: url('../images/RickAndMortyBackground.jpg');
    min-width: 100%;
    min-height: 100%;
    color:darkgray;
}

.container {
    min-width: 70%;
}

.jumbotron {
    padding-top: 20px;
    color: rgb(116, 109, 109);    
    background-color: lightgray;
    margin-top: 20px;
    min-height: 100%;    
}

p {
    text-align:left;
    margin-top: 20px;
}

li {
    text-align:left;
}

a {
    color: blue;
}

img {
    max-height: 200px;
    max-width: 200px;
    transition: transform 1.5s; /* Animation */
}

.character-img:hover {
    transform: scale(1.5);
}

.card {
    transition: transform .5s; /* Animation */
}