.jumbotron {
    background-color: lightgray;
    margin-top: 20px;
}

p {
    text-align:left;
    margin-top: 20px;
}

li {
    text-align:left;
}

a {
    color: blue;
}

img {
    max-height: 200px;
    max-width: 200px;
    transition: transform .5s; /* Animation */
}

.character-img:hover {
    transform: scale(1.1);
}

.card {
    transition: transform .5s; /* Animation */
}