nav {
    background-color: lightgray;;
}

a {
    color: darkslategray;
}

a:hover {
    font-weight: bold;
}

Link:visited {
    text-decoration: none;
}

Link:link {
    text-decoration: none;
}

Link:hover {
    text-decoration: none;
    font-weight: bold;
}

Link:active {
    text-decoration: none;
}

h2, h3 {
    margin-right: 10px;

}


.heading {
    color: black;
    background-color: lightgray;
}

.heading:hover {
    font-weight: 500;
    text-decoration: none;
}
